// Custom styles. 字體樣式
.oaspan {
	border: 1px solid #555;
	border-radius: 4px;
	padding: 2px 5px;
	margin: 0 1px
}

.oaspan a {
	border-bottom: 0
}

.oaspan.oaspan-reverse {
	border: 0;
	color: #fff;
	background: #555
}

.oaspan.oaspan-reverse a {
	color: #fff
}

.oaspan.oaspan-green {
	border: 1px solid #009688;
	color: #009688;
	background: 0 0
}

.oaspan.oaspan-green a {
	color: #009688
}

.oaspan.oaspan-green.oaspan-reverse {
	border: 0;
	color: #fff;
	background: #009688
}

.oaspan.oaspan-green.oaspan-reverse a {
	color: #fff
}

.oaspan.oaspan-red {
	border: 1px solid #f44336;
	color: #f44336;
	background: 0 0
}

.oaspan.oaspan-red a {
	color: #f44336
}

.oaspan.oaspan-red.oaspan-reverse {
	border: 0;
	color: #fff;
	background: #f44336
}

.oaspan.oaspan-red.oaspan-reverse a {
	color: #fff
}

.oaspan.oaspan-yellow {
	border: 1px solid #ffc107;
	color: #ffc107;
	background: 0 0
}

.oaspan.oaspan-yellow a {
	color: #ffc107
}

.oabadge,.oaspan.oaspan-yellow.oaspan-reverse a,.rotten {
	color: #fff
}

.oaspan.oaspan-yellow.oaspan-reverse {
	border: 0;
	color: #fff;
	background: #ffc107
}

// 文章添加陰影效果(if #scheme: Mist)
/*
 .post {
   margin-top: 0px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

.posts-expand .post{
	margin-top: auto;
}
*/